<html>
<head>
	<title>login page</title>
	<meta name="viewport" content="width=device-width , initial-scale=1.0">
	<link href = "static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body bgcolor="blue">
	<div class ="container">
	  <center>
	  <br><br><br><h1>--Please Register First--</h1>
	  <br><br>
	  <form action="" method="post">
	  	<input style="font-size:20px" type="text" placeholder="Username" name="user" maxlength="100" value="{{request.form.user}}"><br><br>
	  	<input style="font-size: 20px" type="email" placeholder="Email ID" name="mail" maxlength="100" value="
	  	{{request.form.mail}}"><br><br>
	  	<input style="font-size:20px" type="password" placeholder="Password" name="pass" maxlength="10" value="{{request.form.pass}}"><br><br><br>
	  	<input class="btn btn-default" style="font-size:20px" type="submit" value="Register">
	  </form>
	  </center>
	   {% if error %}
	    <p class="error"><strong>Error:</strong> {{ error }}</p>
	   {% endif %}
	</div>
</body>
</html>
