<html>
<head>
	<title>intro</title>
	<meta name="viewport" content="width=device-width , initial-scale=1.0">
	<link href = "static/bootstrap.min.css" rel="stylesheet" media="screen">

	 <style>
        
    a{
        padding-left:1400px;
        color: #4d0099;
        text-decoration:none;
        font-size: 20px;
    }
    a:hover{
        color:#088A85;
    }
   </style>
</head>
<body bgcolor="lavender">
	<br>
	
	<div class ="container">
	  <br><br>
	  <h1 style="font-size: 40px;">Registration Successful......</h1><br><br>
 	  <a href="/" >BACK</a>
	</div>
</body>
</html>