<html>
<head>
	<title>intro</title>
	<meta name="viewport" content="width=device-width , initial-scale=1.0">
	<link href = "static/bootstrap.min.css" rel="stylesheet" media="screen">

	 <style>
        
    a{
        padding-left:1300px;
        color: #4d0099;
        text-decoration:none;
        font-size: 20px;
    }
    a:hover{
        color:#088A85;
    }
   </style>
</head>
<body bgcolor="lavender">
	<br>
	<a href="/" >LOGOUT</a>
	<div class ="container">
	  <center><br><br>
	  <h1 style="font-size: 40px;"><marquee>Welcome to CSB Services</marquee></h1>
 	  </center>
	</div>
</body>
</html>